.team-list-container {
    border: 1px solid #9bdb9a;
    padding: 20px;
    border-radius: 8px;
}


.team-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.team-item button {
    padding: 5px 10px;
    cursor: pointer;
}

.followed-teams {
    margin-top: 20px;
    font-weight: bold;
}